{% extends "layout.html" %} {% block title %} Contact Us {% endblock %} {% block content
%}
      <header class="masthead" style="background-image: url('https://telegra.ph/file/6f5cd76a5d9780dec41c2.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Contact Us</h1>
              <span class="subheading">Have questions? We have answers.</span>
            </div>
          </div>
        </div>
      </div>
    </header>
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>
                          A Blog Website Presented By <a href="https://t.me/TechZBots" target="_blank">TechZ Bots</a> 
                        </p>
                        <p>
                         <a href="https://t.me/TechZBots_Support" target="_blank">Our Support Group</a>
                        </p>
                        <p>
                          To Contact Us Join Our Support Group Link Given Above
                        </p>
                    </div>
                </div>
            </div>
        </main>

      {% endblock %}
